body {
    background-color: #f8f9fa;
}

.sh-icon {
    height: 40px;
    width: 40px;
}
.sh-value {
    font-size: 100%;
    margin-right: 1em;
}
.sh-seperator {
    background-color: #f8f9fa;
    padding-left: 1em!important;
}

.sh-page {
    width: 100%;
}

/* Toggle Checkbox/Button
   https://gist.github.com/adactio/ade708ef8d45350790e8 */
.toggle {
    font-family: sans-serif;
    background-color: #ccc;
    display: inline-block;
    border-radius: 1.2em;
    padding: 0.2em 2em 0.2em 0.2em;
}
.toggle input {
    display: none;
}
.toggle label {
    position: relative;
    transition: transform 0.1s;
    cursor: pointer;
    background-color: #6c757d; /* Bootstrap4 Color */
    color: #fff;
    display: inline-block;
    padding: 0.25em 1em;
    border-radius: 1em;
    margin-bottom: 0; /* Revert behaviour of Reboot.css */
}
.toggle input:checked + label {
    background-color: #693;
    color: #fff;
    transform: translateX(1.8em);
}

/* Remove Button focus */
.focus {
    box-shadow: none!important;
}

@media only screen and (min-width: 575px) {
    [class*="col-"] {
        margin-bottom: 15px;
    }
}
@media only screen and (max-width: 574px) {
    [class*="col-"] {
        padding-left: 0;
        padding-right: 0;
    }
}

/* Revert no bottom line */
.list-group-flush:last-child {
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

@media only screen and (max-width: 574px) {
    .modal-dialog, .modal-content, .modal-body {
        height: 100%;
    }

    .modal-dialog {
        margin: 0;
    }

    .modal-content {
        border: 0;
        border-radius: 0;
    }

    .modal-content {
        background-color: rgba(255, 255, 255, 0.9);
        backdrop-filter: blur(2px);
    }
}

/* Slider Styling*/
.modal-body .slider-horizontal {
    width: 100%!important;
}

.slider-handle {
    background: 0;
    background-color: rgb(107, 116, 125);
}
.slider-selection {
    background: 0;
    background-color: rgb(156, 156, 156);
    box-shadow: none;
}