body {
    background-color: #f8f9fa;
    padding-top: 56px;
}
a {
    color: #212529;
}
a:hover {
    color: unset;
    text-decoration: none;
}

.sh-icon {
    height: 32px;
    width: 32px;
    margin: 4px;
}
.sh-value {
    font-size: 100%;
    margin-right: 1em;
}
.sh-seperator {
    background-color: #f8f9fa;
    padding-left: 1em!important;
}

.sh-page {
    width: 100%;
}
.sh-page-active {
    left: 0%;
    position: static;
}
.sh-page-hidden {
    left: 100%;
    position: fixed;
}

/* Toggle Checkbox/Button
   https://gist.github.com/adactio/ade708ef8d45350790e8 */
.toggle {
    font-family: sans-serif;
    background-color: #ccc;
    display: inline-block;
    border-radius: 1.2em;
    padding: 0.2em 2em 0.2em 0.2em;
}
.toggle input {
    display: none;
}
.toggle label {
    position: relative;
    transition: transform 0.1s;
    cursor: pointer;
    background-color: #6c757d; /* Bootstrap4 Color */
    color: #fff;
    display: inline-block;
    padding: 0.25em 1em;
    border-radius: 1em;
    margin-bottom: 0; /* Revert behaviour of Reboot.css */
}
.toggle input:checked + label {
    background-color: #693;
    color: #fff;
    transform: translateX(1.8em);
}

/* Remove Button focus */
.focus {
    box-shadow: none!important;
}

@media only screen and (min-width: 575px) {
    [class*="col-"] {
        margin-bottom: 15px;
    }
}
@media only screen and (max-width: 574px) {
    [class*="col-"] {
        padding-left: 0;
        padding-right: 0;
    }
}

/* Revert no bottom line */
.list-group-flush:last-child {
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

@media only screen and (max-width: 574px) {
    .modal-dialog, .modal-content, .modal-body {
        height: 100%;
    }

    .modal-dialog {
        margin: 0;
    }

    .modal-content {
        border: 0;
        border-radius: 0;
    }

    .modal-content {
        background-color: rgba(255, 255, 255, 0.9);
        backdrop-filter: blur(2px);
    }
}

/* Slider Styling*/
.modal-body .slider {
    width: 100%;
}
.slider {
    -webkit-appearance: none;
    height: 10px;
    border-radius: 5px;   
    background: #ccc;
    outline: none;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%; 
    background: #6c757d;
    cursor: pointer;
    box-shadow:var(--c,0) 0 0 #ccc; /*https://stackoverflow.com/a/51571070/1997890*/
}

.slider::-moz-range-thumb {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #6c757d;
    cursor: pointer;
    box-shadow:var(--c,0) 0 0 #ccc; /*https://stackoverflow.com/a/51571070/1997890*/
}

.colorpicker {
    width: 100%;
}

.sliderRGB { 
    background: linear-gradient(
        to right,
        rgb(255,0,0),
        rgb(255,255,0),
        rgb(0,255,0),
        rgb(0,255,255),
        rgb(0,0,255),
        rgb(255,0,255),
        rgb(255,0,0)
        );
}

.revert-width { /* needed to place .custom-selevt inline with other elements */
    width: unset;
}

/* https://www.w3schools.com/howto/howto_css_loader.asp */
.loader {
    border: 4px solid #ccc; /* Pick even numbers here */
    border-top: 4px solid #6c757d; /* Pick even numbers here */
    border-radius: 50%;
    width: 32px; /* Pick even numbers here */
    height: 32px; /* Pick even numbers here */
    animation: spin 1.5s linear infinite;
    display: inline-block;
    vertical-align: middle;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.btn-feather-back {
    height: 31px;
    border: 0;
    padding: 0;
}
.btn-feather-back svg {
    height: 31px;
    width: 31px;
}
.btn-feather-connection {
    padding: .18rem .5rem;
}
